<h1>Mi graduacion</h1>
    
<h5>Subir imagen</h5>
    <?php if (isset($error)): ?>
        <div class="red-text">Error: <?= $error ?></div>
    <?php endif; ?>
    <?php if (!(isset($_SESSION["nombre"]))): ?>
        <div class="red-text">Error: Por favor inicie sesion</div>
    <?php endif; ?>
    <?php if ((isset($_SESSION["nombre"]))): ?>
        <div class="row">
          <form action="controllerUpload.php" method="POST" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn">
              <span>Imagen</span>
              <input type="file" name="imagen">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
            <input type="submit" class="waves-effect waves-light btn" value="Subir">
          </div>
        </form>
        </div>
    <?php endif; ?>