
 <form class="col s12" action="login.php" method="POST">
<div class="row">
      <div class="input-field col s12">
        <input placeholder="a00232156" id="nombre" name="nombre" type="text" class="validate" required>
        <label for="first_name">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Sandoval" id="password" name="password" type="password" class="validate" required>
        <label for="apellido">Contraseña</label>
      </div>
    </div>
    <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <input class="btn" type="submit" value="¿Quien eres?">
          </div>
        </div>
      </div>
  </form>
</div>