<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Bienvenido</span>
          <p>Bienvenido <?php echo $_SESSION["nombre"]?></p>
        </div>
      </div>
    </div>
  </div>