<form method="POST" action="controladorEliminarMateriales.php">
    <div class="row">
        <div class="input-field col s12">
          <input id="Descripcion" type="text" class="validate" name="Descripcion" required>
          <label for="email">Descripcion del material a eliminar</label>
          <span class="helper-text" data-error="wrong" data-success="right">Ejemplo: Grava</span>
        </div>
      </div>
    <input class="waves-effect waves-light btn" type="submit" value="Registrar">
</form>