<form method="POST" action="controladorActualizarProy.php">
    <div class="row">
        <div class="input-field col s12">
          <input id="Numero" type="number" class="validate" name="Numero" required>
          <label for="email">Numero del proyecto a actualizar</label>
          <span class="helper-text" data-error="wrong" data-success="right">Ejemplo: 5003</span>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="Denominacion" type="text" class="validate" name="Denominacion" required>
          <label for="email">Nueva denominacion del proyecto a actualizar</label>
          <span class="helper-text" data-error="wrong" data-success="right">Ejemplo: 5000</span>
        </div>
      </div>
    
    <input class="waves-effect waves-light btn" type="submit" value="Registrar">
</form>