<form method="POST" action="controladorInsertarMateriales.php">
    <div class="row">
        <div class="input-field col s12">
          <input id="Descripcion" type="text" class="validate" name="Descripcion" required>
          <label for="email">Descripcion del material</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field inline">
            <input id="Precio" name="Precio" type="number" class="validate">
            <label for="email_inline">Precio $$$</label>
            <span class="helper-text" data-error="wrong" data-success="right">Ejemplo: 1000</span>
          </div>
        </div>
        <input class="waves-effect waves-light btn" type="submit" value="Registrar">
</form>