<div class="container">

<h6>
    ¿Qué alternativas a jQuery existen?
</h6>
<p> Existen diferentes maneras de aplicar lo que jQuery hace, por ejemplo, con javascrip nativo, [1].
</p>
<h6>
    ¿Qué es una promesa en js?
</h6>
<p>Es una forma que tiene js de decirle al código que está peparando algo para responder ya sea un error o un sucess. [2]
</p>
<h6>
    ¿Cómo funcionan async y await?
</h6>
<p>Async, define una funcion asíncrona, y poco más, le dice al lenguaje que esa fucnion es eso, algo a utlizarse en algo asíncrono, y el await es usada para esperar por una promesa [3]
</p>
<h6>Referencias</h6>
<ul>
    <li>[1]https://www.educba.com/jquery-alternatives/</li>
  <li>[2]https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise</li>
  <li>[3]https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await</li>
</ul>
</div>