<body class="AliceBlue">
<h1 class="centro">Laboratorio 9</h1>
<section class="centro">
  <div class="callout primary">
    <div class="grid-x">
      <div class="cell small-12 medium-12 large-12">
        <h2>Promedios</h2>
      </div>
    </div>
    <p>"Una función que reciba un arreglo de números y devuelva su promedio"</p>
    <div class="grid-x">
      <div class="cell small-6 medium-6 large-6">
        <div class="callout success"> 
          <h5>Promedio 1 [10,5,10,6]</h5>
          <p><?php echo $promedio?></p>
        </div>
      </div>
      <div class="cell small-6 medium-6 large-6">
        <div class="callout success"> 
          <h5>Promedio 2 [1,5,33,6]</h5>
          <p><?php echo $promedio2?></p>
        </div>
      </div>
    </div>
  </div> 
</section>
<section class="centro">
  <div class="callout primary">
    <div class="grid-x">
      <div class="cell small-12 medium-12 large-12">
        <h2>Medianas</h2>
      </div>
    </div>
    <p>"Una función que reciba un arreglo de números y devuelva su mediana"</p>
    <div class="grid-x">
      <div class="cell small-6 medium-6 large-6">
        <div class="callout success"> 
          <h5>Mediana 1 [10,5,10,6]</h5>
          <p><?php echo $mediana?></p>
        </div>
      </div>
      <div class="cell small-6 medium-6 large-6">
        <div class="callout success"> 
          <h5>Mediana 2 [1,5,33,6]</h5>
          <p><?php echo $mediana2?></p>
        </div>
      </div>
    </div>
  </div> 
</section>
<section class="centro">
  <div class="callout primary">
    <div class="grid-x">
      <div class="cell small-12 medium-12 large-12">
        <h2>Lista</h2>
      </div>
    </div>
    <p>"Una función que reciba un arreglo de números y muestre la lista de números, y como ítems de una lista html muestre el promedio, la media, y el arreglo ordenado de menor a mayor, y posteriormente de mayor a menor"</p>
    <div class="grid-x">
      <div class="cell small-6 medium-6 large-6">
        <div class="callout success"> 
          <h5>Lista 1</h5>
          <ol>
            <li>Valores: <?php echo $string?></li>
            <li>Promedio:<?php echo $promedio?></li>
            <li>Media: <?php echo $media?></li>
            <li>Mediana: <?php echo $mediana?></li>
            <li>Valores al reverso: <?php echo $stringR?></li>
          </ol>
        </div>
      </div>
      <div class="cell small-6 medium-6 large-6">
        <div class="callout success"> 
          <h5>Lista 2</h5>
          <ol>
          <li>Valores: <?php echo $string2?></li>
            <li>Promedio:<?php echo $promedio2?></li>
            <li>Media: <?php echo $media2?></li>
            <li>Mediana: <?php echo $mediana2?></li>
            <li>Valores al reverso: <?php echo $stringR2?></li>
          </ol>
        </div>
      </div>
    </div>
  </div> 
</section>
<section class="centro">
  <div class="callout primary">
    <div class="grid-x">
      <div class="cell small-12 medium-12 large-12">
        <h2>Tabla cubos y cuadrados</h2>
      </div>
    </div>
    <p>"Una función que imprima una tabla html, que muestre los cuadrados y cubos de 1 hasta un número n"</p>
    <div class="grid-x">
      <div class="cell small-12 medium-12 large-12">
        <div class="callout success"> 
         <h5>Tabla</h5>
         <p><?php echo $stringT?></p>
       </div>
    </div>
  </div>
</section>

</body>