<div class="row">
    <div class="col s12 m12 l12 red lighten-4">
        <h3>Consulta y registro de materiales y proyectos</h3>
    </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="https://www.getreskilled.com/wp-content/uploads/2017/01/project-engineer-getreskilled.com_.jpg">
          <span class="card-title blue darken-2">Proyectos actuales</span>
          <a href="proyectos.php" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">visibility</i></a>
        </div>
        <div class="card-content">
          <p>La tabla de proyectos contiene el número único del proyecto,y denominación de cada proyecto</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="https://deepaengineeringcompany.com/wp-content/uploads/2018/03/Engineers.jpg">
          <span class="card-title green darken-2">Agregar un nuevo proyecto</span>
          <a href="formProyectos.php" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>La tabla de proyectos contiene el número único del proyecto,y denominación de cada proyecto</p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img id="ajusteimagen"  src="https://thumbs.dreamstime.com/b/cement-department-construction-materials-store-19803392.jpg">
          <span class="card-title blue darken-2">Materiales actuales</span>
          <a href="materiales.php" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">visibility</i></a>
        </div>
        <div class="card-content">
          <p>La tabla de materiales contiene clave única del material, descripción y precio de cada material</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">  
      <div class="card">
        <div class="card-image">
          <img src="https://i.pinimg.com/originals/ad/2b/89/ad2b89bbcc4927827a47c9c54aadf6c6.jpg">
          <span class="card-title green darken-2">Agregar un nuevo material</span>
          <a href="formInsertMat.php" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>La tabla de materiales contiene clave única del material, descripción y precio de cada material</p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img id="ajusteimagen" class="blur" src="https://cementtrust.files.wordpress.com/2011/08/blocks-and-steel.jpg">
          <span class="card-title red darken-2">Eliminar un material</span>
          <a href="formDelMat.php" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </div>
        <div class="card-content">
          <p>Eliminar, por nombre, un material en específico.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">  
      <div class="card">
        <div class="card-image">
          <img  class="blur" src="https://image.freepik.com/free-photo/sad-foreman-engineer-worker-site_33842-2400.jpg">
          <span class="card-title red darken-2">Eliminar un proyecto</span>
          <a href="formDelProy.php" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </div>
        <div class="card-content">
          <p>Dar de baja, por nombre, un proyecto.</p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col s12 m6">  
      <div class="card">
        <div class="card-image">
          <img  class="blur" src="https://image.freepik.com/free-photo/sad-foreman-engineer-worker-site_33842-2400.jpg">
          <span class="card-title red darken-2">Actualizar un proyecto</span>
          <a href="formActualizarProy.php" class="btn-floating halfway-fab waves-effect waves-light orange"><i class="material-icons">update</i></a>
        </div>
        <div class="card-content">
          <p>Actualizar la denominacion de un proyecto.</p>
        </div>
      </div>
    </div>
  </div>
</div>


