<div class="container">

<h6>
    ¿Qué es ODBC y para qué es útil?
</h6>
<p> Open Database Connectivity, es un estándar establecido por SQL Access group, el cual permite, entre otras cosas, portabilidad de lenguales de bases de datos a otros lenguajes de bases de datos, también, hacer posible el acceso a cualquier dato desde cualquier gestor de base de datos se esté usando [1].
</p>
<h6>
    ¿Qué es SQL Injection?
</h6>
<p>Es el clasico caso donde alguien, al querer hacer una consulta, mete codigo de SQL para intentar sacar informacion de la base de datos, el clasico alumno llamado "DROP TABLE *"
</p>
<h6>
    ¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?
</h6>
<p>No dejar que se hagan queries con el input del usuario directamente, siempre hacer una validacion de la consulta o petición del usuario antes de mandarla para asegurarse que sea correcta, volver la consulta caracteres especiales HTML, entre otras.
</p>
<h6>Referencias</h6>
<ul>
  <li>[1]https://es.wikipedia.org/wiki/Open_Database_Connectivity</li>
  <li>[2]https://www.esecurityplanet.com/threats/how-to-prevent-sql-injection-attacks.html</li>
</ul>
</div>