          <div class="file-field input-field">
            <div class="input-field col s12 l12 left">
              <button id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
                <i class="material-icons right">add</i>
              </button>
              <a id="" href="consultaGradoEscolar.php" class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i>
              </a>
              
          </div>
          </div>
      </form>
      </div>
  </div>
</div>
</div>
</div>