
<div class="col s12">
<div class="card teal lighten-2">
<div class="card-content teal lighten-3">
<div class="carousel carousel-slider center" data-indicators="true">

  <div class="carousel-fixed-item center">
    <a class="waves-effect waves-light btn slide-prev">Anterior</a>
      <a class="waves-effect waves-light btn slide-next">Siguiente</a>
  </div>
  <div class="carousel-item teal lighten-5" href="#one!" id="Docs-Benefi">
    <div class="col s12">
      <form action="Controladores\Escolaridad\controladorAltaEscolaridad.php" method="post">
          <!--Elemento-->
          <h2>Beneficiaria</h2>
          <div class="file-field input-field">
            <div class="input-field col s12">
              <i class="material-icons prefix"> </i>
                <?=crear_selectBeneficiaria();?>  
            </div>
          </div>    
        <!--Elemento-->
        <h2>Escolaridad</h2>
        <div class="file-field input-field">
          <div class="input-field col s6">
            <i class="material-icons prefix"> </i>
            <?=crear_select("idEscuela", "nombre", "Escuela");?>  
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix"> </i>
            <?=crear_select("idGradoEscolar", "nombre", "GradoEscolar");?>  
          </div>
        </div>
      </div>
      <!--Elemento-->
      <div class="file-field input-field">
        <div class="input-field col s6">
          
          <input type="date" name="fechaInicio" id="fechaInicio">
          <label for="rol"><strong>Fecha de ingreso:</strong></label>     
        </div>
        <div class="input-field col s6">
          
          <input type="date" name="fechaFin" id="fechaFin">
          <label for="rol"><strong>Fecha de salida:</strong></label>     
        </div>
      </div>
  </div>

  <div class="carousel-item teal lighten-5" href="#two!">
    <h2>Datos tutor</h2>
    <div class="col s12">
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"></i>
            <input id="icon_prefix" type="text" class="validate" name="tutorNombre" id="tutorNombre">
            <label for="icon_prefix">Nombre</label>
          </div>
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s6">
            <i class="material-icons prefix"> </i>
            <input id="email" type="email" class="validate" name="tutorEmail" id="tutorEmail">
            <label for="email">Email</label>   
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix"></i>
            <input id="icon_telephone" type="tel" class="validate" name="tutorTelefono" id="tutorTelefono">
            <label for="icon_telephone">Telephone</label>
          </div>  
        </div>
        <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12 l12 left">
            <button id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
            </button>
            <a id="" href="consultaEscolaridad.php" class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i>
            </a>
            
        </div>
        </div>
      
      </div>
  </div>



</form>
</div>
</div>
</div>

</div>

<script>
 $(document).ready(function () {
    $('.carousel').carousel();
    $('.carousel.carousel-slider').carousel({ fullWidth: true , noWrap: true});
    $('.slide-prev').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('prev')
    });
    $('.slide-next').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.carousel').carousel('next')
    });
 
});
  </script>