<footer class="blue darken-1 page-footer">
    <div class="container">
        <p class="grey-text text-lighten-4">Powered by <a href="http://materializecss.com/" target="_blank" class="white-text text-lighten-4">Materialize</a>.</p>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Escuela de Ingeniería y Ciencias - Tecnológico de Monterrey en Querétaro.
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="ajax.js"></script>
</body>

</html>