<div class="container">
    <h3>Registrar nuevo incidente</h3>
<div class="row">
    <form action="controladorRegistro.php" method="POST">
    <div class="col s3"></div>
    
    <div class="input-field col s6">
      <?php echo selectTipo()?>
      <label class="active" for="Tipo">Tipo incidente</label>
    </div>
    
    <div class="col s3"></div>
        <?php echo selectLugar()?>
        <label class="active" for="Lugar">Lugar del incidente</label>
    </div>
    <div class="row">
        <div class="col s8"></div>
        <div class=" col s2 "> <button type="submit" class="waves-effect waves-light btn" >Registrar</button></div>
    </div>
</form>
</div>