<div class="container">

    <h3>Incidentes</h3>

    <a class="right btn-floating btn-large waves-effect waves-light red" href="registro.php"><i class="material-icons">add</i></a>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input id="Incidente" placeholder="Falla eléctrica" type="text" class="validate">
        <label for="rol">Escribe un tipo de incidente para buscar</label>     
    </div>
</div>

<div id="resultado" class="container">
