<div class="row">
    <div class="co s2 m2 l2"></div>
    <div class="co s8 m8 l8">
        <input id="Clave" type="text" placeholder="Clave del material" name="Clave">
        <button class="waves-effect waves-light btn" id="infoMateriales">Consultar</button>
    </div>
    <div class="co s2 m2 l2"></div>
</div>