<div class="row">
    <div class="co s2 m2 l2"></div>
    <div class="co s8 m8 l8">
        <input id="Numero" type="text" placeholder="Numero del proyecto" name="Numero">
        <button class="waves-effect waves-light btn" id="infoProyectos">Consultar</button>
    </div>
    <div class="co s2 m2 l2"></div>
</div>