div.a {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid green;
    background: green;
}

div.b {
    position: absolute;
    top: 0;
    border: 3px solid blue;
    background: white;
}

div.c {
    position: absolute;
    top: 50px;
    background: red;
}

div.d {
    position: relative;
    top: 50px;
}

div.cambio{
    font: "Arial";
    font-size: large;
    border: solid red;
    border-width: thin;
}

p {
    font-family: "Times New roman", "Arial", serif;
    font-size: small;
}

h2.a {
  visibility: visible;
}

h2.b {
  visibility: hidden;
}