
body {
    text-align: center;
         background-color: lightblue;
}
body {
  font-size: 16px;
}
body:after {
  content: "Rulo"; 
  font-size: 15em;  
  color: rgba(52, 166, 214, 0.4);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


h1 {
          color: azure;
          text-align: center;
}

h2 {
    text-align: center;
        color:darkblue
}

ol {
    text-align: center;
}

dl {
    font-size: 18px;
    text-align:left;
}
dt{
    color: blue;
}

dd {
    color: darkslateblue;
}

p {
        text-align: center;
          font-family: verdana;
          font-size: 12px;
}


div.watermark {
    font-family: "Times New Roman", sans-serif;
    text-align: left;
    font-style: italic;
    
    
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
    align-self: center;
}


#timer {
    align-content: center;
}
