

body {
    text-align: center;
         background-color: lightblue;
}

h1 {
          color: azure;
          text-align: center;
}

h2 {
    text-align: center;
        color:darkblue
}

ol {
    text-align: center;
}

dl {
    font-size: 18px;
    text-align:left;
}
dt{
    color: blue;
}

dd {
    color: darkslateblue;
}

p {
        text-align: center;
          font-family: verdana;
          font-size: 12px;
}
