<div class="container">
    <h3>Registrar nuevo zombi</h3>
<div class="row">
    <form action="controladorRegistro.php" method="POST">
    <div class="col s3"></div>
    
    <div class="input-field col s6">
      <input id="first_name2" type="text" class="validate" name="nombre">
      <label class="active" for="first_name2">Nombre</label>
    </div>
    
    <div class="col s3"></div>
    </div>
    <div class="row">
        <div class="col s8"></div>
        <div class=" col s2 "> <button type="submit" class="waves-effect waves-light btn" >Registrar</button></div>
    </div>
</form>
</div>