<header>
  <div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper grey darken-4">
          <a href="index.php" class="brand-logo"><img class="responsive-img" src="Image/logo_interna.png" alt="Logo needed"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="login.php" class="grey darken-4"><i class="material-icons left">power_settings_new</i>Cerrar sesion</a></li>
      </div>
      
  </nav>
</div>
</header>
<div class="content"> 
  <div class="row">