<div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input placeholder="Buscar" type="text" class="validate">
    <label for="rol">Escribe un Diagnostico para buscar</label>     
</div>
<form id="receta" action="consultaDiagnostico.php" method="POST">
        <table class="table">
        <thead>
            <tr>
            <th>Ver</th>
            <th>Fecha</th>
            <th>Paciente</th>

            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td><input type="submit" name="diagnostico" class="btn" value="diagnostico" /></td>
                <td>10/04/2020</td> 
                <td>Juan Perez Perez</td>
            </tr>
            <tr>
                <td><input type="submit" name="diagnostico" class="btn" value="diagnostico" /></td>
                <td>9/04/2020</td>
                <td>Johnny Perez Perez</td>
            </tr>
        </tbody>
        </table>
    </form>