<div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Paciente: Juan Perez Perez <br>Fecha: 10/04/2020</span>
      <p>Indicaciones: Mantener reposo por 4 dias y no ir a la escuela</p>
      <p>Medicamentos: Ninguno</p>
      <p>Dosis: 0 gr</p>
      <p>Fecha final de tratamiento: 15/04/2020</p>
    </div>
    <div class="card-action">
      <a href="#">Consultar Expediente</a>
    </div>
  </div>